body
{
    font-family: 'Balsamiq Sans', cursive;
    background-color: darkgray;
}

header
{
    text-align: center;
}

h1
{
    padding: 20px;
    display: inline-block;
    background-color: gray;
    color: white;
    border-radius: 35px;
}

h1:hover
{
    transform: scale(1.1);
    background-color: black;
    transition: all 0.5s ease-in-out;
    color: fuchsia;
    box-shadow: 0px 0px 10px black;
}

main
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

tr, td 
{
    text-align: center;
    margin: 5px;
}

td
{
    padding: 15px;
    display: inline-block;
    background-color: gray;
    color: white;
    border-radius: 50px;
}

td:hover
{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    background-color: black;
    box-shadow: 0px 0px 10px black;
    color: fuchsia;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: fuchsia;
    transition: all 0.3s ease-in-out;
}
