body
{
    border: 1px solid black;
    margin-left: 10%;
    margin-right: 10%;
}

.cabecera
{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}

.buscar
{
    display: inline;
}