body
{
    background-color: #CFC;
    font-family: Georgia, Cambria, serif; 
    font-size: 16px;
}
  
.titulo 
{
    color: #F00;
    font-family: Verdana, Calibri, sans-serif; 
    font-size: 32px;
}
  
h2 
{
    color: #a00;
    font-family: Verdana, Calibri, sans-serif; 
    font-size: 24px;
}
  
ul 
{
    color: #00F;  
}

p 
{
    color: #00F;
}

.subtitulo 
{
    color: green;
}

.strong
{
    font-size: 20px;
}

.resaltado 
{
    color: white;
    background-color: black;
}