@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+3D&display=swap');

.parrafo2
{
    font-family: Verdana;
}

.parrafo3
{
    font-family: Tahoma;
}

.parrafo4
{
    font-family: 'Balsamiq Sans', cursive;
}

.parrafo5
{
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Rock 3D', cursive;
}